@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Kramola';
    src: url('../fonts/Kramola.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* global reset */
html, body, body div, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, aside, section, article, header, footer, main, input, textarea, button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
ol, ul, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
input, textarea {
    font: inherit;
    box-sizing: border-box;
}

/* variables 
:root {
    --header-color: #00f;
}
*/
/* jquery-ui fix */
.ui-icon,.ui-widget-content .ui-icon{background-image:url("../images/ui-icons_444444_256x240.png")}
.ui-widget-header .ui-icon{background-image:url("../images/ui-icons_444444_256x240.png")}
.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-button:hover .ui-icon,.ui-button:focus .ui-icon{background-image:url("../images/ui-icons_555555_256x240.png")}
.ui-state-active .ui-icon,.ui-button:active .ui-icon{background-image:url("../images/ui-icons_ffffff_256x240.png")}
.ui-state-highlight .ui-icon,.ui-button .ui-state-highlight.ui-icon{background-image:url("../images/ui-icons_777620_256x240.png")}
.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url("../images/ui-icons_cc0000_256x240.png")}
.ui-button .ui-icon{background-image:url("../images/ui-icons_777777_256x240.png")}
#ui-datepicker-div {
    width: 300px;
    left: 1000px;
}

/* main */
html {
    height: 100%;
}
body {
    background: url('../img/mount-fon.jpg');
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'icomoon', Arial;
}
header {
    flex: none;
    background: var(--header-color);
}
main {
    flex: 1 1 auto;
}
footer {
    flex: none;
    background: #777;
}
.container {
    margin: 0 auto;
    padding: 16px;
    width: 1168px;
}
button {
    font-family: 'icomoon', Arial;
    cursor: pointer;
}
nav a {
    flex: none;
    text-decoration: none;
}
nav .current {
    font-weight: bold;
    cursor: default;
}
h1 {
    font-size: 48px;
    margin-bottom: 24px;
    padding-right: 56px;
}

/* header */
.lable {
    font-family: 'Kramola';
    font-size: 35px; 
}

.navbar-brand {
    margin-right: 5rem
}

.navbar-light .navbar-nav .nav-link {
	color: #111;
	font-weight: 500;
	text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #111;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}

.modal-body img {
	max-width: 100px;
}

/* Footer */
.footer {
	background-color: #343434;
    padding: 20px;
}

.footer h4 {
	color: #ccc;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid #666;
	padding-bottom: 3px;
}

.footer a {
	text-decoration: none;
	transition: all .3s;
}

.footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer a, .footer li {
	color: #c8c8c8;
}

.footer li a {
	display: block;
}

.footer-icons a {
	display: inline-block;
	margin-right: 15px;
	font-size: 20px;
}
/* Footer */


/* modals */
.screener {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(100, 100, 100, .75);
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 40px;
    display: block;
    width: auto;
    height: auto;
}
.modal .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: red;
    font-size: 40px;
    line-height: 40px;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
}
.modal .close:active {
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
}

/* lightbox */
#lightbox img {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s;
}
#lightbox.ready img {
    opacity: 1;
}

/* order */
.order {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 1170px;
    margin: 100px auto;
}

.order .empty,
.empty section {
    display: none;
}
.empty .empty {
    display: block;
}
.table tfoot th {
    border-bottom: none;
}
.table .allsum span {
    color: #f00;
}
.table .price span::after,
.table .sum span::after,
.table .allsum span::after {
    content: '\20BD';
    margin-left: 8px;
}
.table .index {
    text-align: center;
    width: 50px;
}
.table .qty {
    text-align: center;
    width: 200px;
}
.table .price {
    text-align: center;
    width: 100px;
    font-size: 20px;
    line-height: 20px;
}
.table .sum {
    text-align: center;
    width: 100px;
    font-size: 20px;
    line-height: 20px;
}
.table td.delete {
    text-align: center;
    width: 100px;
    cursor: pointer;
}
.table .qty strong {
    min-width: 100px;
    text-align: center;
    display: inline-block;
    user-select: none;
    font-size: 20px;
    line-height: 20px;
}
.table .qty span {
    color: #00f;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    user-select: none;
}
.table .qty .minus {
    margin-right: 16px;
}
.table .qty .plus {
    margin-left: 16px;
}




/* adaptivity */
@media screen and (max-width:1219px) {
    .container {
        width: 968px;
    }
    .catalog_content {
        grid-template-columns: repeat(3, 200px);
        gap: 30px;
    }
}



@media screen and (max-width:1019px) {
    .container {
        width: 738px;
    }
    .catalog_content {
        grid-template-columns: repeat(2, 200px);
    }
}



@media screen and (max-width:919px) {
    .container {
        width: 700px;
    }
    .actiontext {
        font-size: 16px;
        line-height: 32px;
        height: 32px;
    }
    .actiontimer {
        height: 32px;
    }
    .actiontimer span {
        width: 70px;
    }
    .actiontimer b {
        width: 30px;
        font-size: 24px;
    }
    .catalog aside {
        float: left;
        width: 264px;
    }
    .catalog article {
        margin-left: 280px;
    }
    .catalog_content {
        gap: 20px;
    }
}


